@font-face {
    font-family: 'DS-Digital';
    font-style: normal;
    font-weight: 400;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGI.woff') format('woff');
}
@font-face {
    font-family: 'DS-Digital';
    font-style: italic;
    font-weight: 400;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGII.woff') format('woff');
}
@font-face {
    font-family: 'DS-Digital';
    font-style: normal;
    font-weight: 700;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGIB.woff') format('woff');
}
@font-face {
    font-family: 'DS-Digital';
    font-style: italic;
    font-weight: 700;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGIT.woff') format('woff');
}

:root{
    --primary-color: #ffffff;
    --secondary-color: #767575;
    --background-color: #2852a5;
    --text-color: #0a0a0a;
    --font-face-color:rgb(0, 0, 0);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
}

#containerCarrito{
    /* background-image: url("../Recursos/imagenes/carritoWallpaper.jpg"); */
    background-color: #0a0a0a;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

/* ======================================================
                Sección de Productos 
=========================================================*/
#productsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-items: stretch;
    width: 100%;
    min-height: 50vh;
}

.productCard{
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

/* Redugimos el tamaño de las imágenes que están en user.js */
.productCard img{
    width: 100%;
    height: 180px;
    border-radius: 5px;
    object-fit: contain;
}

.font-face{
    font-family: 'DS-Digital', monospace;
    font-weight: 700; 
    font-size: 1.5rem; 
    color: var(--font-face-color); 
    text-shadow: 0 0 4px var(--font-face-color);
}

.card-buttons {
    margin-top: auto; 
    padding-top: 10px; 
}

.product-info{
    margin-top: auto; 
    padding-top: 10px;
}

/* ======================================================
                Sección de Carrito (Trolley) 
=========================================================*/
#trolleyContainer{
    display: none;
    justify-content: center;
    flex-wrap: wrap; 
    align-items:center;
    width: 100%;
    min-height: 50vh;
}

.trolleyItem{
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction:column;
}

.totalPago{
    width: 100%;
    text-align: right; /* Alinea el total a la derecha */
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.2); /* Un fondo sutil */
    border-radius: 5px;
    font-family: 'DS-Digital', monospace; /* ¡Usamos tu fuente digital! */
    font-size: 1.8rem;
    color: #fff; /* Verde neón para el dinero */
}

#monto{
    color: #D61F03;
}

/* ====================================================
                  BOTONES
======================================================= */
.buttonSelect{
    background-color: black;
    color: greenyellow;
    font-family: 'DS-Digital';
    letter-spacing: 3px;
    font-size: 1.1rem;
    width: 11rem;
    height: 3rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Initial shadow (optional) */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow */
}

.buttonSelect:hover{
    border: 0.5px solid rgb(0, 183, 255);
    cursor: pointer;
    box-shadow: 0px 0px 70px rgb(0, 183, 255); /* Shadow on hover */
}

#btnVerProductos {
    visibility: hidden;
}
#btnPedido {
    visibility: hidden;
}