:root{
    --primary-color: #ff3b3f;
    --secondary-color: #767575;
    --background-color: #473f3f;
    --text-color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputLogin{
    display: none;
    margin: 10px ;
}

#login img{
    width: 20rem;
    height: 20rem;
}

#enterButton{
    display: none;
}