@font-face {
    font-family: 'DS-Digital';
    font-style: normal;
    font-weight: 400;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGI.woff') format('woff');
}
@font-face {
    font-family: 'DS-Digital';
    font-style: italic;
    font-weight: 400;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGII.woff') format('woff');
}
@font-face {
    font-family: 'DS-Digital';
    font-style: normal;
    font-weight: 700;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGIB.woff') format('woff');
}
@font-face {
    font-family: 'DS-Digital';
    font-style: italic;
    font-weight: 700;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGIT.woff') format('woff');
}

:root{
    --primary-color: #ff3b3f;
    --secondary-color: #767575;
    --background-color: #473f3f;
    --text-color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.container{
    background-image: url("./Recursos/imagenes/EVio.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputLogin{
    display: none;
    margin: 10px ;
}

#login img{
    width: 20rem;
    height: 20rem;
}

#enterButton{
    display: none;
}

.buttonSelect{
    background-color: black;
    color: greenyellow;
    font-family: 'DS-Digital';
    letter-spacing: 3px;
    font-size: 1.1rem;
    width: 11rem;
    height: 3rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Initial shadow (optional) */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow */
}

.buttonSelect:hover{
    border: 0.5px solid rgb(0, 183, 255);
    cursor: pointer;
    box-shadow: 0px 0px 70px rgb(0, 183, 255); /* Shadow on hover */
}

